//提供样式全局变量

//项目左侧菜单样式
$base-menu-width: 200px;
$base-menu-background: #206cc0;
$base-menu-min-width: 60px;


//logo的字体样式
$base-logo-text-fontSize: 20px;
$base-logo-text-fontWeight:600;
$base-logo-text-maxWidth: 120px;
$base-logo-height: 70px;

